-- lua/packages.lua
-- This file contains the list of all your Neovim plugins.

local M = {}

-- The 'setup' function returns the list of plugins.
function M.setup()
  return {
    -- Lazy.nvim itself.
    "folke/lazy.nvim",

    -- Your custom plugin.
    {
      "{{.CustomPlugin}}",
      config = function()
        require('{{.PackageName}}').setup()
      end
    },

    -- Add more plugins here.
    -- E.g., "nvim-telescope/telescope.nvim"
    -- E.g., { "nvim-lualine/lualine.nvim", config = function() ... end }
  }
end

return M
